.match_words_question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_column,
.right_column {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 15px;
}

.word_option {
  background-color: #d9d9d9;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 9px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.word_option:hover {
  background-color: #df5411 !important;
  color: white;
}

/* ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; */

.match_words_question {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* margin-top: 58px; */
}

.left_column,
.right_column {
  flex: 1;
  padding: 10px;
  margin: 10px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.word_option {
  padding: 10px;
  margin: 5px 30px;
  width: 200px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

/* MatchWordsQuestion.css */
.word_option.selected {
  background-color: #df5411 !important;
  /* border-color: green; */
}

/* Increase specificity for .correntoption */
.quiz_body .correntoption {
  background-color: #8dc084 !important;
  color: white !important;
  /* border-color: green; */
}

.wrongoption {
  background-color: black !important;

  /* border-color: green; */
}
/* MEDIA QUERY FOR RESPONSIVENESS */

@media screen and (max-width: 768px) {
  /* Your CSS styles for small mobile devices */

  .match_words_question {
    padding: 50px 20px;
    width: 100%;
  }

  .left_column,
  .right_column {
    width: 10%;
  }
}
@media screen and (max-width: 576px) {
  /* Your CSS styles for small mobile devices */
  .match_words_question {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
  }
  .left_column,
  .right_column {
  }
  .match_words_question .word_option {
    padding: 15px 5px;
    margin: 0;

    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    width: 100%;
    background-color: white;
    border: 0px;
    box-shadow: 0px 4px 4px 0px #00000040 !important;
    border-radius: 23px;
    font-size: 18px;
  }
  .match_words_question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 20px;
  }
}
