/**
 * These styles are used if a demo specific stylesheet is not present
 *
 * @format
 */
#checkout {
  background-color: white;
  padding-top: 80px !important;
  padding-bottom: 80px;
}

#checkout form {
  border-radius: 10px;
  max-width: 550px;
  margin: 0 auto;
  /* background-color: red; */
  padding: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#checkout label {
  color: #808080 !important;
  font-weight: 300 !important;
  letter-spacing: 0.025em;
  margin-top: 0px;
  display: block;
  font-size: 13px !important;
}

#checkout button {
  white-space: nowrap;
  border: 0;
  outline: 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
  /* text-transform: uppercase; */
  letter-spacing: 0.025em;
  background-color: #ff6b35;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
}

/* button:hover {
   color: #fff;
   cursor: pointer;
   background-color: #7795f8;
   transform: translateY(-1px);
   box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
 } */

#checkout button[disabled] {
  opacity: 0.6;
}

#checkout input,
#checkout select {
  display: block;
  border: none;
  font-size: 16px;
  margin: 10px 0 20px 0;
  max-width: 100%;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
  color: #424770;
  letter-spacing: 0.025em;
  width: 500px;
}

#checkout input::placeholder {
  color: #aab7c4;
  font-weight: 300 !important;
  font-size: 16px !important;
}

#checkout .result,
#checkout .error {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

#checkout .error {
  color: #e4584c;
}

#checkout .result {
  color: #666ee8;
}

/* 
 The StripeElement class is applied to the Element container by default.
 More info: https://stripe.com/docs/stripe-js/reference#element-options
 */

.StripeElement,
.StripeElementIdeal,
.StripeElementP24,
.StripeElementEPS,
.StripeElementFpx {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
}

.StripeElement--focus,
.StripeElementIdeal--focus,
.StripeElementP24--focus,
.StripeElementEPS--focus,
.StripeElementFpx--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.loading {
  height: 41.6px;
  opacity: 0.6;
}

.StripeElementIdeal,
.StripeElementP24,
.StripeElementEPS,
.StripeElementFpx {
  padding: 0;
}

@media only screen and (max-width: 768px) {
  #checkout {
    background-color: white;
    padding-top: 40px !important;
    padding-bottom: 40px;
  }
  #checkout form {
    border-radius: 10px;
    margin: 20px !important;
    margin: 0 0 auto;
    /* background-color: red; */
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
}
