.translating_words_container .translate_words_question {
  background-color: white;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 23px;
  margin-bottom: 60px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 30px;
  gap: 15px;
  font-size: 20px;
  font-weight: 600;
}

.translating_words_container .translation_input {
  width: 100%;
  height: 95px;
  background-color: white;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 23px;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  outline: 0;
  resize: none;
}

/* MEDIA QUERY FOR RESPONSIVENESS */

@media screen and (max-width: 768px) {
  /* Your CSS styles for small mobile devices */

  .translating_words_container .translate_words_question {
    padding: 10px 20px;
    font-size: 17px;
  }

  .translating_words_container .translation_input {
    height: auto;
    padding: 10px 20px;
    font-size: 17px;
  }
}

@media screen and (max-width: 576px) {
  .translating_words_container {
    padding: 0 50px;
  }
}
