.put_in_order_question .sentence {
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 30px;
  gap: 15px;
  background-color: white;
  border-radius: 12px;
  border-top: 1.9px solid #d9d9d9;
  border-left: 1.9px solid #d9d9d9;
  border-right: 1.9px solid #d9d9d9;
  border-bottom: 3px solid #d9d9d9;
}

.put_in_order_question .sentence.active {
  height: 70px;
}

.put_in_order_question .sentence .word,
.put_in_order_options .word_option {
  background-color: #fe9700ba;
  width: fit-content;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  cursor: pointer;
}

.put_in_order_question .put_in_order_options {
  background-color: white;
  border-radius: 12px;
  border-top: 1.9px solid #d9d9d9;
  border-left: 1.9px solid #d9d9d9;
  border-right: 1.9px solid #d9d9d9;
  border-bottom: 3px solid #d9d9d9;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 30px;
  gap: 15px;
}

.sentence .add-word-bg {
  background-color: #8dc084 !important;
  color: white !important;
}
.put_in_order_options .word_option {
  background-color: #d9d9d9;
  border: 0;
}

/* MEDIA QUERY FOR RESPONSIVENESS */

@media screen and (max-width: 768px) {
  /* Your CSS styles for small mobile devices */

  .put_in_order_question .sentence {
    padding: 10px 20px;
    gap: 10px;
  }

  .put_in_order_question .sentence .word,
  .put_in_order_options .word_option {
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
  }

  .put_in_order_question .put_in_order_options {
    padding: 10px 20px;
    gap: 0px;
  }

  .put_in_order_options .word_option {
    background-color: #d9d9d9;
    border: 0;
  }
}

@media screen and (max-width: 576px) {
  .put_in_order_question .put_in_order_options {
    padding: 10px 20px;
    gap: 5px;
  }
  .put_in_order_question .put_in_order_options {
    background-color: white;
    border-radius: 12px;
    border-top: 1.9px solid #d9d9d9;
    border-left: 1.9px solid #d9d9d9;
    border-right: 1.9px solid #d9d9d9;
    border-bottom: 3px solid #d9d9d9;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 8px;
    gap: 5px;
  }
  .put_in_order_question .sentence {
    background-color: white;
    border-radius: 12px;
    border-top: 1.9px solid #d9d9d9;
    border-left: 1.9px solid #d9d9d9;
    border-right: 1.9px solid #d9d9d9;
    border-bottom: 3px solid #d9d9d9;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 30px;
    gap: 5px;
  }
}
