.put_in_order_question .sentence {
  background-color: white;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 23px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 30px;
  gap: 15px;
}

.put_in_order_question .sentence.active {
  height: 70px;
}

.put_in_order_question .sentence .word,
.put_in_order_options .word_option {
  background-color: #fe9700ba;
  width: fit-content;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  cursor: pointer;
}

.put_in_order_question .put_in_order_options {
  background-color: white;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 23px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 30px;
  gap: 15px;
}


.put_in_order_options .word_option {
  background-color: #d9d9d9;
  border: 0;
}

/* MEDIA QUERY FOR RESPONSIVENESS */

@media screen and (max-width: 768px) {
  /* Your CSS styles for small mobile devices */

  .put_in_order_question .sentence {
    padding: 10px 20px;
    gap: 10px;
  }

  .put_in_order_question .sentence .word,
  .put_in_order_options .word_option {
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
  }

  .put_in_order_question .put_in_order_options {
    padding: 10px 20px;
    gap: 0px;
  }

  .put_in_order_options .word_option {
    background-color: #d9d9d9;
    border: 0;
  }
}
