/** @format */

.title_container {
  position: relative;
}
.title_container .title {
  font-size: 30px !important;
  color: #df5411 !important;
}
.title_container .buttonText {
  color: #555555 !important;
  font-size: 18px;
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  right: 10%;
  top: 30%;
}

@media only screen and (max-width: 767px) {
  .title_container h2 {
    margin-top: 0 !important;
  }
  .title_container .title {
    font-size: 23px !important;
  }
  .title_container .buttonText {
    font-size: 16px !important;
  }
  .title_container .buttonText {
    position: inherit !important;
  }
}
