.download_app_wrapper {
  background-color: #000000;
  height: 409.48px;
  overflow: hidden;
}

.download_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.download_container .left_content {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.download_container .left_content h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 500;
  line-height: 59.6px;
}

.download_container .left_content h2 span {
  color: #ff6b35;
}

.download_container .left_content p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 20px;
}

/* MEDIA QUERY FOR RESPONSIVENESS */

@media screen and (max-width: 991px) {
  /* CSS styles for small mobile devices */

  .download_app_wrapper {
    height: auto;
  }

  .download_container {
    flex-direction: column;
  }

  .download_container .left_content {
    text-align: center;
    margin-bottom: 40px;
  }

  .download_container .left_content h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .download_container .left_content p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .download_container .left_content p br {
    display: none;
  }
}
