.fill_in_blank-options {
  display: flex;
  align-items: center;
  gap: 60px;
}

.fill_in_blank-options .fill_in_blank_option {
  padding: 10px 30px;
  border-radius: 23px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  border: 0;
  background-color: white;
}

.fill_in_blank-options .fill_in_blank_option.selected {
  background-color: #df5411;
  color: white;
}

.fill_in_blank-options .fill_in_blank_option .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #000000;
}

.fill_in_blank-options .fill_in_blank_option.selected .circle {
  background-color: white;
  border-color: white;
}

/* MEDIA QUERY FOR RESPONSIVENESS */

@media screen and (max-width: 768px) {
  /* Your CSS styles for small mobile devices */

  .fill_in_blank-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
  }
}
