.navigation_wrapper {
  padding: 20px 0;
  height: 112px;
  display: flex;
  align-items: center;
  background-color: white;
}

.navigation_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation_container nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation_container nav ul a,
button {
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s ease;
}

.navigation_container nav ul button {
  background-color: #000000;
  color: white;
  padding: 10px 30px 10px 30px;
  border: 0;
  border-radius: 18px;
  transition: background-color 0.3s ease;
}

.navigation_container nav ul button:hover {
  background-color: #ff6b35;
}

.navigation_container nav ul a:hover {
  color: #ff6b35;
}

.navigation_container .close_btn,
.menu_btn {
  display: none;
}

/* MEDIA QUERY FOR RESPONSIVENESS */

@media screen and (max-width: 991px) {
  /* CSS styles for small mobile devices */

  .navigation_wrapper {
    justify-content: space-between;
  }

  .navigation_container .logo_container img {
    width: 60px;
  }

  .navigation_container nav {
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: white;
    width: 100%;
    height: 100vh;
    transition: 0.3s ease;
    z-index: 10;
  }

  .navigation_container nav.active {
    left: 0%;
  }

  .navigation_container nav ul {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .navigation_container .menu_btn {
    display: block;
    background-color: transparent;
    border: 0;
    color: #000000;
    font-size: 40px;
  }

  .navigation_container .close_btn {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: transparent;
    border: 0;
    color: #000000;
    font-size: 33px;
  }
}
