.root-navigation_wrapper {
  position: fixed;
  top: 0px;
  z-index: 23;
}
.navigation_wrapper {
  padding: 20px 0;
  height: 112px;
  display: flex;
  align-items: center;
  /* background-color: white; */
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.navigation_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation_container nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation_container nav ul a,
button {
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s ease;
}

.navigation_container nav ul button {
  background-color: #000000;
  color: white;
  padding: 10px 30px 10px 30px;
  border: 0;
  border-radius: 18px;
  transition: background-color 0.3s ease;
}

.navigation_container nav ul button:hover {
  background-color: #ff6b35;
}

.navigation_container nav ul a:hover {
  color: #ff6b35;
}

.navigation_container .close_btn,
.menu_btn {
  display: none;
}
.dropdown_option {
  position: relative;
}
.dropdown_option .optionbox {
  width: 200px;
  position: absolute;
  background-color: white;
  border: 1px solid gray;
  padding: 5px;
  display: none;
  right: 0;
}
.dropdown_option .optionbox a {
  display: block;
  padding: 10px 5px;
  text-align: center;
}
.dropdown_option .optionbox a:hover {
  display: block;
  background-color: #ff6b35;
  color: white;
}

.dropdown_option:hover .optionbox {
  display: block;
}
/* MEDIA QUERY FOR RESPONSIVENESS */

@media screen and (max-width: 991px) {
  /* CSS styles for small mobile devices */

  .navigation_wrapper {
    justify-content: space-between;
  }

  .navigation_container .logo_container img {
    width: 60px;
  }

  .navigation_container nav {
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: white;
    width: 100%;
    height: 100vh;
    transition: 0.3s ease;
    z-index: 10;
  }

  .navigation_container nav.active {
    left: 0%;
  }

  .navigation_container nav ul {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .navigation_container .menu_btn {
    display: block;
    background-color: transparent;
    border: 0;
    color: #000000;
    font-size: 40px;
  }

  .navigation_container .close_btn {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: transparent;
    border: 0;
    color: #000000;
    font-size: 33px;
  }
}

@media screen and (max-width: 576px) {
  .navigation_wrapper {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
      rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

    border-top: 1px solid gray;
  }
}
