::placeholder {
    padding-left: 10px; 
  }
  
  .input-style::placeholder {
    padding-left: 10px; 
  }
  
  textarea.input-style::placeholder {
    padding-top: 10px; 
  }
  
  
  .logo {
    display: block;
    margin: 0 auto 20px;
    width: 100px; 
    animation: slideInFromTop 1s ease-in-out;
  }
  
  
  .course-group, .private-course {
    margin-top: 30px;
  }

  
  .highlight {
    color: #d35400;
    font-weight: bold;
  }
  
  .contact {
    margin-top: 40px;
  }
  
  .form-group {
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
  }
  
  .time-group {
    display: flex;
    justify-content: space-between;
  }
  
  .time-field {
    flex: 1;
  }
  
  .time-field label {
    display: block;
  }
  
  .time-field:not(:last-child) {
    margin-right: 20px;
  }
  
  label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .required {
    margin-left: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(230, 230, 229);
    color: rgb(55, 53, 47);
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
  }
  
  .input-style {
    width: 100%;
    height: 36px;
    padding: 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(61, 59, 53, 0.16) 0px 0px 0px 1px, rgba(61, 59, 53, 0.08) 0px 2px 5px 0px;
    border-radius: 5px;
    outline: none;
    border: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(55, 53, 47);
    caret-color: rgb(55, 53, 47);
    box-sizing: border-box;
    transition: all 0.3s ease;
  }
  
  .input-style:focus {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  textarea.input-style {
    height: 100px;
    resize: vertical;
  }
  
  .submit-button, .add-language-button {
    background-color: #d35400;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .submit-button:hover, .add-language-button:hover {
    background-color: #e67e22;
    transform: scale(1.05);
  }
  
  .add-language-button {
    background-color: #d35400;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .add-language-button:hover {
    background-color: #e67e22;
    transform: scale(1.05);
  }
  
  .selected-language {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 10px;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .reservation-summary {
    display: table;
    width: 100%;
  }
  
  .reservation-summary .summary-header,
  .reservation-summary .selected-language {
    display: table-row;
  }
  
  .reservation-summary .column-header,
  .reservation-summary .column {
    display: table-cell;
    padding: 10px;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes slideInFromTop {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }