

.bg-black {
    background-color: #000000 !important;
}

.custom-mb-5{
    margin-bottom: 1.25rem !important;
} 

.custom-mb-3 {
    margin-bottom: 0.75rem !important;
}

.custom-px-8 {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

.custom-py-10 {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
}
.gap-8{
    gap: 2rem !important;
}

.custom-p-2 {
    padding: 0.5rem !important;
}

.custom-px-6{
    padding: 1.5rem !important;
}

.py-custom {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.px-custom {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}
.text-gray-500 {
    color: 6b7820 !important;
}

.text-gray-600 {
    color: 4b5563 !important;
}

.text-gray-900 {
    color: rgb(17,24,39) !important;
}
.hover-underline:hover {
    text-decoration: underline !important;
  }

.mt-8 {
    margin-top: 2rem !important;
}

.mb-8 {
    margin-bottom: 2rem !important;
}
.custom-pb-16 {
    padding-bottom: 4rem !;
}
.text-xl-custom {
    font-size: 1.5rem !important;
}
.taille-text {
    font-size: 0.75rem !important;
}

@media (min-width: 370px){
    .taille-text {
        font-size: 1rem !important;
    }
}

@media (min-width: 768px){
    .taille-text {
        font-size: 1.25rem !important;
    }
}
@media (min-width: 992px){
    .taille-text {
        font-size: 1.5rem !important;
    }
}

.tg-taille {
    font-size: 2.5rem !important;
}


@media (min-width: 370px){
    .tg-taille {
        font-size: 3rem !important;
        
    }
}

@media (min-width: 992px){
    .tg-taille {
        font-size: 4rem !important;
        
    }
}

@media (min-width: 576px){
.text-3xl-custom {
    font-size: 1.875rem !important;
}
}

@media (min-width: 992px) {
    .custom-xl-gap-8{
        gap: 2rem !important;
    }
}

.custom-m-2 {
    margin: 0.5rem !important;
}

.custom-mb-16 {
    margin-bottom: 4rem !important;
}
.custom-mb-20 {
    margin-bottom: 5rem !important;
}

.leading-relaxed {
    line-height: 1.625 !important;
}

.custom-max-w-screen-lg {
    max-width:1280px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.ms-20 {
    margin-left: 0rem !important; 
}

@media (min-width: 992px){
    .ms-20 {
        margin-left: 10rem !important ;
    }
}
.pt-20{
    padding-top: 2.5rem !important;
}

.fw-extrabold {
    font-weight: 800 !important;
}

.text-sm {
    font-size: 0.875rem !important;
}

.custom-border {
    border: 1px solid rgb(229,231,235) !important;
}

.custom-icon {
    width: 1rem !important;
    height: 1rem  !important;
    margin-right: 0.5rem !important;
}

.custom-inset-0 {
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}

.object-cover {
    object-fit: cover !important;
}

.object-center {
    object-position: center !important;
}

.custom-bg-opacity-60 {
    background-color: rgba(0,0,0,0.6) !important;
}

.tracking-widdest {
    letter-spacing: 0.1em !important;
}

.taille-titre {
    font-size: 3rem !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.taille-ss-titre {
    font-size: 1.5rem !important;
}

.shawow-md {
    box-shadow: 0 4px 6px rgba(0,0,0,0.1) !important;
}