.pricing_wrapper {
  margin: 100px 0;
}

.pricing_container .heading_container {
  text-align: center;
}

.pricing_container .heading_container h2 {
  font-size: 48px;
  font-weight: 600;
  color: #1e1e1e;
  line-height: 72px;
}

.pricing_container .heading_container h2 span {
  color: #ff865a;
}

.pricing_container .heading_container p {
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  color: #1e1e1e;
}

.pricing_container .pricing_content .pricing_header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 40px 0;
}

.pricing_container .pricing_content .pricing_header button {
  width: 97.37px;
  height: 48.68px;
  border-radius: 999px;
  background-color: #ff865a;
  border: 0;
  padding: 5px;
}

.pricing_container .pricing_content .pricing_header button .circle {
  width: 36.51px;
  height: 36.51px;
  border-radius: 50%;
  background-color: white;
}

.pricing_container .pricing_content .pricing_header button .circle.active {
  margin-left: auto;
}

.pricing_container .pricing_content .pricing_header span {
  font-size: 21.3px;
  font-weight: 500;
  color: #777e90;
  line-height: 36.51px;
}

.pricing_container .pricing_content .pricing_header .monthly_sub {
  color: #23262f;
}

.pricing_container .pricing_content .pricing_header .yearly_sub {
  color: #23262f;
}

.pricing_container .pricing_content .label {
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  padding: 12px 12px 9px 12px;
  background-color: #ff865a;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.pricing_container .pricing_content .pricing_cards {
  display: flex;
  gap: 30px;
  margin-top: 60px;
}

.pricing_container .pricing_content .pricing_card {
  width: 482px;
  border-radius: 37px;
  border: 3.04px solid #e6e8ec;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  background-color: white;
}

.pricing_container .pricing_content .pricing_card_2 {
  width: 536px;
  background-color: #ff865a;
  border: 0;
  box-shadow: 4px 0px 46px 2px #ff6b3559;
}

.pricing_container .pricing_content .pricing_card .icon_box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #3772ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing_container .pricing_content .pricing_card_2 .icon_box {
  background-color: #ff6b35;
}

.pricing_container .pricing_content .pricing_card h3 {
  font-size: 50px;
  font-weight: 700;
  color: #3772ff;
  line-height: 85.2px;
  letter-spacing: -2px;
  margin: 20px 0;
}

.pricing_container .pricing_content .pricing_card p {
  font-size: 25px;
  font-weight: 600;
  color: #23262f;
  line-height: 36.51px;
}

.pricing_container .pricing_content .pricing_card .divider {
  width: 100%;
  height: 1.52px;
  background-color: #e6e8ec;
  margin: 20px 0;
}

.pricing_container .pricing_content .pricing_card ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 19px;
  font-weight: 400;
  line-height: 36.51px;
  color: #777e90;
  margin-top: 10px;
}

.pricing_container .pricing_content .pricing_card button {
  padding: 18px 37px 18px 37px;
  border: 3.04px solid #e6e8ec;
  border-radius: 999px;
  color: #23262f;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  background-color: transparent;
  width: fit-content;
  font-family: "DM Sans", sans-serif;
  transition: 0.3s ease;
}

.pricing_container .pricing_content .pricing_card button:hover {
  color: white;
  background-color: #ff6b35;
  border-color: #ff6b35;
}

.pricing_container .pricing_content .pricing_card_2 h3,
.pricing_card_2 p,
.pricing_card_2 li {
  color: white !important;
}

.pricing_container .pricing_content .pricing_card_2 button {
  color: white;
  background-color: #ff6b35;
  border: 0;
  transition: 0.3s ease;
}

.pricing_container .pricing_content .pricing_card_2 button:hover {
  color: #ff6b35;
  background-color: white;
}

/* MEDIA QUERY FOR RESPONSIVENESS */

@media screen and (max-width: 991px) {
  /* CSS styles for small mobile devices */

  .pricing_container .heading_container h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .pricing_container .heading_container p {
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
  }

  .pricing_container .heading_container p br {
    display: none;
  }

  .pricing_container .pricing_content .pricing_header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
  }

  .pricing_container .pricing_content .pricing_cards {
    flex-direction: column;
    gap: 40px;
  }

  .pricing_container .pricing_content .pricing_card {
    width: 100%;
  }

  .pricing_container .pricing_content .pricing_card_2 {
    width: 100%;
  }

  .pricing_container .pricing_content .pricing_card .icon_box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3772ff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .pricing_container .pricing_content .pricing_card_2 .icon_box {
    background-color: #ff6b35;
  }

  .pricing_container .pricing_content .pricing_card h3 {
    font-size: 50px;
    font-weight: 700;
    color: #3772ff;
    line-height: 85.2px;
    letter-spacing: -2px;
    margin: 20px 0;
    text-align: center;
  }

  .pricing_container .pricing_content .pricing_card p {
    font-size: 25px;
    font-weight: 600;
    color: #23262f;
    line-height: 36.51px;
    text-align: center;
  }

  .pricing_container .pricing_content .pricing_card .divider {
    width: 100%;
    height: 1.52px;
    background-color: #e6e8ec;
    margin: 20px 0;
  }

  .pricing_container .pricing_content .pricing_card ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pricing_container .pricing_content .pricing_card button {
    margin: 0 auto;
  }
}

/* MEDIA QUERY FOR RESPONSIVENESS */

@media screen and (min-width: 450px) and (max-width: 768px) {
  /* CSS styles for small mobile devices */

  .pricing_container .pricing_content .pricing_card {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  /* CSS styles for tablets */

  .pricing_container .pricing_content .pricing_header {
    flex-direction: row;
  }

  .pricing_container .pricing_content .pricing_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
