/* loading */
#loader button span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#loader button {
  border-radius: 4px;

  padding: 17px 30px;
  background-color: white;
  border: none;
  color: black;
}

#loader {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 200;
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#loader-page button span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.text {
  color: black !important;
}
#loader-page button {
  border-radius: 4px;

  padding: 17px 30px;
  background-color: white;
  border: none;
  color: black;
}
.full-screen-loader {
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#loader-page {
  position: fixed;
  top: 40%; /* Adjust this value as needed */
  transform: translateY(-50%);
  z-index: 200;
  left: 50%;
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* Centering */
  width: 300px; /* Set a specific width for the element */
  margin-left: -150px; /* Half of the width to offset the left positioning */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* custom loader  */
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
