.banner_wrapper {
  height: calc(100vh - 112px);
  background-image: url("../../../../assets/hero-arrow-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

.banner_container .banner_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner_container .heading {
  font-size: 68px;
  line-height: 90px;
  color: #1e1e1e;
  font-weight: 700;
}

.banner_container .heading span {
  color: #ff6b35;
}

.banner_container .heading_2 {
  text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.15);
}

.banner_container .desc {
  color: #1e1e1e;
  font-weight: 300;
  font-size: 19.75px;
  line-height: 29.63px;
  margin-top: 30px;
}

.banner_container .btn_container {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 60px;
}

.banner_container .btn_container button {
  background-color: #000000;
  color: white;
  padding: 10px 30px 10px 30px;
  border-radius: 18px;
  font-weight: 600;
  font-size: 19px;
  line-height: 32.59px;
  border: 0;
  transition: background-color 0.3s ease;
}

.banner_container .btn_container button:hover {
  background-color: #ff6b35;
}

.banner_container .btn_container button:last-child {
  background-color: #ff6b35;
  color: #000000;
}

.banner_container .btn_container button:last-child:hover {
  background-color: #000000;
  color: white;
}

.banner_container .banner_img_box {
  position: relative;
}

.banner_container .banner_img_box {
  position: relative;
  height: 100%;
}

.banner_container .banner_img_box .banner_1 {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner_container .banner_img_box .banner_2 {
  position: absolute;
  top: 50%;
  left: 56%;
  transform: translate(0%, -50%);
}

/* BG PLANE ELEMENT STYLE */
.plane_elem_1 {
  position: absolute;
  left: 10%;
  bottom: -3%;
  z-index: 3;
}

.plane_elem_1_text {
  position: absolute;
  left: 17%;
  bottom: 12.4%;
  font-size: 13px;
  font-weight: 600;
  color: white;
  transform: rotate(-10deg);
  z-index: 4;
}

.plane_elem_2 {
  position: absolute;
  top: 45%;
  left: 59%;
  transform: rotate(-4deg) translate(-50%, -50%);
  z-index: 3;
}

.plane_elem_2_text {
  position: absolute;
  top: 41%;
  left: 57.6%;
  transform: rotate(-73deg) translate(-50%, -50%);
  z-index: 4;
  font-size: 13px;
  font-weight: 600;
  color: white;
  z-index: 4;
}

.plane_elem_3 {
  position: absolute;
  top: -5%;
  right: 0%;
}

.plane_elem_3_text {
  position: absolute;
  top: 7%;
  right: 7%;
  transform: rotate(-10deg);
  z-index: 4;
  font-size: 13px;
  font-weight: 600;
  color: white;
  z-index: 4;
}

.banner_container .banner_3 {
  display: none;
}

/* MEDIA QUERY FOR RESPONSIVENESS */

@media screen and (max-width: 576px) {
  /* CSS styles for small mobile devices */

  .banner_wrapper {
    height: auto;
    background-image: none;
  }

  .banner_container .heading {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
  }

  .banner_container .desc {
    text-align: center;
  }

  .banner_container .desc br {
    display: none;
  }

  .banner_container .btn_container {
    flex-direction: column;
    gap: 20px;
  }

  .banner_container .btn_container button {
    width: 80%;
  }

  .banner_container .banner_img_box .banner_1,
  .banner_2 {
    display: none;
  }

  .banner_container .banner_img_box .banner_3 {
    display: block;
    margin-top: 30px;
  }

  /* BG PLANE ELEMENT STYLE */
  .plane_elem_1,
  .plane_elem_1_text,
  .plane_elem_2,
  .plane_elem_2_text,
  .plane_elem_3,
  .plane_elem_3_text {
    display: none;
  }
}

@media screen and (min-width: 576px) and (max-width: 1200px) {
  /* CSS styles for mobile devices */

  .banner_wrapper {
    height: auto;
    background-image: none;
  }

  .banner_container .heading {
    line-height: 80px;
    text-align: center;
  }

  .banner_container .desc {
    text-align: center;
  }

  .banner_container .desc br {
    display: none;
  }

  .banner_container .btn_container {
    justify-content: center;
  }

  .banner_container .banner_img_box .banner_1,
  .banner_2 {
    display: none;
  }

  .banner_container .banner_img_box .banner_3 {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }

  /* BG PLANE ELEMENT STYLE */
  .plane_elem_1,
  .plane_elem_1_text,
  .plane_elem_2,
  .plane_elem_2_text,
  .plane_elem_3,
  .plane_elem_3_text {
    display: none;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .banner_container .row {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    padding-top: 60px;
  }
  .banner_container .row .col-lg-8,
  .banner_container .row .col-lg-4 {
    width: 100%;
  }
}
