.eye_box {
  position: relative;
}

.eye_icon span {
  font-size: 22px;
}
.eye_icon {
  position: absolute;
  top: 16%;
  right: 5px;
  cursor: pointer;
}

.user-img-wrapper .user-img img {
  height: 150px;
  transform: translate(8px, -20px);
}
