@media (min-width: 501px) {
  #heloehleohe {
    width: "110px";
    height: "110px";
  }
}

@media (max-width: 500px) {
  .language-card-box {
    width: "50px" !important;
    height: "50px" !important;
  }
}
