#onb_t {
  background-color: white;
  margin: 0 !important;
  padding: 0 !important;
}
#onb_t .container_main {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#onb_t .progress_container {
  max-width: 1140px;
  padding-top: 15px;
}
.hellohello {
  max-width: 900px !important;
  /* background-color: gray; */

  height: 100vh;
  display: grid;

  align-items: center;
  padding: 20px 50px !important;
}

#onb_t .daily_goal_question_body {
  max-width: 700px !important;
}

#onb_t .popup_body_container {
  /* background-color: gray; */

  height: 100%;
  padding: 30px 0;
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 1140px !important;
}
.onb_t_title {
  font-size: 27px;
  font-weight: 600;
  color: #424242;
}
#onb_t .continue_btn {
  padding-bottom: 30px;
}
#onb_t .continue_btn .btn_disabled {
  font-size: 15px;
  height: 50px;
  border-radius: 15px;
  background-color: #e5e5e5;
  color: gray;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  cursor: default;
  display: grid;
  justify-content: center;
  align-items: center;
}
#onb_t .continue_btn .btn_active {
  font-size: 15px;
  height: 50px;
  border-radius: 15px;
  background-color: #df5411;
  color: white;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  cursor: pointer;
  border-bottom: 4px solid #c94503;
}
#onb_t .continue_btn .btn_border_none {
  border: 0px !important;
}

#onb_t .continue_btn .loader span {
  width: 10px !important;
  height: 10px !important;
}
/* #onb_t .popup_body_container .continue_btn button {
  height: 50px;
  border-radius: 15px;
  border-bottom: 5px solid #c94503;
  background-color: #df5411;
  color: white;
}

#onb_t .popup_body_container .continue_btn button:hover {
  background-color: #c94503;
  border-bottom: 5px solid #df5411;
} */

#onb_t .container .onb_l_layout {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
#onb_t .container_main .continue_section {
  /* background-color: red; */
  height: 180px;
  margin-top: auto;
}
#onb_t .container_main .continue_section .hr {
  height: 2px;
  width: 100%;
  background-color: #eaeaea;
}
.mycolorname {
  border-radius: 100px !important;
  height: 17px !important;
}
.mycolorname .progress-bar {
  /* background-color: #df5411; */
  background: linear-gradient(to bottom, #df5411, rgb(245, 121, 121), #df5411);

  border-radius: 100px;
}

@media only screen and (max-width: 991px) {
  #onb_t .container_main {
    overflow: auto !important;
  }
  .hellohello {
    padding: 60px 20px !important;

    margin: 40px 50px;
  }
  #onb_t .progress_container {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: white;
    padding-top: 0px !important;
    padding-bottom: 20px;
  }
}
